@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/*------------CABEÇALHO-----------*/
header a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;;
}
header img{
    height: 30px;
}
html,body{
    margin: 0px;
    padding: 0px;
 
}

/*------------CORES-----------*/
.fonteSecundaria{
    background-color: #404040 ;
    color: black;
}
.fontePrimaria{
    background-color: #FFFFFF;
    color: black;    
}
.fonteTextoTitulo{
    text-transform: uppercase;
    color: #1C188C;
    font-size: 40px;
}
.fonteIndex{
    text-transform: uppercase;
    color:black;
    font-size: 90px;
   
}
.fonteLegenda{
    color:black;
    font-size: 25px;
    font-family:'Montserrat', sans-serif;
}
.fonteLegendaAmarela{
    color:#404040;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
}

/*------------ALINHAMENTO-----------*/
.centro{
    display: flex;
    justify-content: center;
    align-items: center;

}
/*------------BORDAS-----------*/
.bordaEsquerda{
border-left: 1px solid;
border-color: #07141A;
}
.bordaDireita{
    border-right: 1px solid;
    border-color: #07141A;
}
/*-----------------------*/
.tamanhoImagem{
    height: 400px;
    width: auto;
    align-items: end;
    border-radius: 200% ;
    
}
.tamanhoImagemRodape{
    height: 70px;
    width: auto;
}
footer{
    
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}